<div style="margin: 25px;">
  <h1 class="display-3">{{ listCtrl.listName }}</h1>
</div>

<br>
<div class="alert alert-primary"
  ng-if="listCtrl.listDetail.list.length == 0"
  style="margin: 15px; display: inline-block;">
  <strong>Oh snap! Your list is empty.</strong>
  <br>
  <a class="alert-link" ui-sref="root.movie-search">Try adding some movies</a> and then come back again.
</div>

<div class="container"
  ng-if="listCtrl.listDetail.list.length > 0">
  <table class="table table-hover">
    <thead>
      <tr class="table-primary" style="text-align: center; color: white">
        <th scope="col">Shift</th>
        <th scope="col">Rank</th>
        <th scope="col"></th>
        <th scope="col" style="text-align: left;">Movie</th>
        <th scope="col">Ratings</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-secondary"
        ng-repeat="movie in listCtrl.listDetail.list">
        <th scope="row" style="vertical-align: middle;">
          <div>
            <img ng-src="images/Up1Blue.png"
              ng-click="listCtrl.shiftPosition(listCtrl.listDetail.list.indexOf(movie), listCtrl.listDetail.list.indexOf(movie) - 1)"
              width="40px" style="margin: 15px; cursor: pointer" alt="Blue Up Arrow">
          </div>
          <div>
            <img ng-src="images/Down1Blue.png"
              ng-click="listCtrl.shiftPosition(listCtrl.listDetail.list.indexOf(movie), listCtrl.listDetail.list.indexOf(movie) + 1)"
              width="40px" style="margin: 15px; cursor: pointer" alt="Blue Down Arrow">
          </div>
        </th>
        <td style="text-align: center; vertical-align: middle;">
          <h2>
            {{ listCtrl.listDetail.list.indexOf(movie) + 1 }}
          </h2>
        </td>
        <td>
          <img ng-src="{{ movie.Poster }}" ui-sref="root.movie-detail({movieID: movie.imdbID})"
            style="cursor: pointer;" width="100px" alt="Poster Not Available">
        </td>
        <td>
          <div style="margin-bottom: 10px;">
            <h5 style="cursor: pointer;">
              <a ui-sref="root.movie-detail({movieID: movie.imdbID})">{{ movie.Title }} ({{ movie.Year }})</a>
            </h5>
          </div>
          <div style="margin-bottom: 10px;">
            {{ movie.Plot }}
          </div>
        </td>
        <td>
          <div ng-if="movie.imdbRating" style="margin-bottom: 10px; white-space: nowrap;">
            <img ng-src="images/imdb_logo.png"
              width="30px" style="margin: 10px; margin-left: 25px;" alt="IMDb Logo">
              {{ movie.imdbRating }} / 10
          </div>
          <div ng-if="movie.rottenTomatoesRating"
            style="margin-bottom: 10px; white-space: nowrap;">
            <img ng-src="images/rt_logo.png" width="45px" style="margin: 5px; margin-left: 20px;" alt="Rotten Tomatoes Logo">
              {{ movie.rottenTomatoesRating }}%
          </div>
          <div ng-if="movie.metacriticRating"
            style="margin-bottom: 10px; white-space: nowrap;">
            <img ng-src="images/metacritic_logo.png" width="30px" style="margin: 5px; margin-left: 25px;" alt="Metacritic Logo">
              {{ movie.metacriticRating }} / 100
          </div>
        </td>
        <td style="vertical-align: middle;">
          <button type="button" class="btn btn-danger" style="margin: 15px;"
            data-target="#deleteMovieModal" data-toggle="modal" ng-click="listCtrl.movieToDelete = movie">
            Delete
          </button>


        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Control for the Delete Modal -->
<div class="container">
  <div id="deleteMovieModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          Are you sure you want to delete {{ listCtrl.movieToDelete.Title }}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-small btn-danger"
              ng-click="listCtrl.deleteMovieFromList()" data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-small btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Permitted to delete only custom lists -->
<div style="text-align: center;"
  ng-if="listCtrl.listName != 'Watch List' && listCtrl.listName != 'Watched' && listCtrl.listName != 'Favorites'">
  <button type="button" class="btn btn-danger" style="margin: 15px;"
    data-target="#deleteListModal" data-toggle="modal">
    Delete List
  </button>
</div>

<div class="container">
  <div id="deleteListModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          Are you sure you want to delete {{ listCtrl.listName }}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-small btn-danger"
              ng-click="listCtrl.deleteList()" data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-small btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
