<div style="margin: 15px">
  <h3>Watch List</h3>
</div>

<div class="container col-lg-4"
    style="display:inline-block;"
    height="1000px"
    ng-repeat="movie in myListsCtrl.watchList.list.slice(0,3)">
  <div class="card border-primary mb-3" style="">
    <div class="card-header" style="vertical-align: middle;">
      <h4><a ui-sref="root.movie-detail({movieID: movie.imdbID})">
        {{ movie.Title }} ({{ movie.Year }})
      </a></h4>
    </div>
    <div class="card-body">
      <span style="width: 40%; float: left;">
        <img ng-src="{{ movie.Poster }}" alt="Poster Not Available" width="90%">
      </span>
      <span class="card-text" style="width: 60%; float: left;">
        <p class="card-text">{{ myListsCtrl.plotSubstring(movie.Plot) }}</p>
        <div>
          <img ng-src="images/imdb_logo.png" width="30px" style="margin: 5px" alt="IMDb Logo">
           {{ movie.imdbRating }} / 10
        </div>
        <div ng-if="movie.rottenTomatoesRating">
          <img ng-src="images/rt_logo.png" width="37px" style="margin: 5px" alt="Rotten Tomatoes Logo">
           {{ movie.rottenTomatoesRating }}%
        </div>
        <div ng-if="movie.metacriticRating">
          <img ng-src="images/metacritic_logo.png" width="30px" style="margin: 5px" alt="Metacritic Logo">
           {{ movie.metacriticRating }} / 100
        </div>
      </span>
    </div>
  </div>
</div>

<div style="margin-left: 20px"
  ng-if="myListsCtrl.watchList.list.length > 0">
  <h5>
    <a ui-sref="root.list({listName: 'Watch List'})">
      <strong>Go to Watch List >>></strong>
    </a>
  </h5>
</div>

<div class="alert alert-primary"
  ng-if="myListsCtrl.watchList.list.length == 0"
  style="margin: 15px; display: inline-block;">
  <strong>Oh snap! This list is empty.</strong>
  <br>
  <a class="alert-link" ui-sref="root.movie-search">Try adding some movies</a> and then come back again.
</div>

<br>
<br>

<div style="margin: 15px">
  <h3>Watched</h3>
</div>

<div class="container col-lg-4"
    style="display:inline-block;"
    height="1000px"
    ng-repeat="movie in myListsCtrl.watched.list.slice(0,3)">
  <div class="card border-primary mb-3" style="">
    <div class="card-header" style="vertical-align: middle;">
      <h4><a ui-sref="root.movie-detail({movieID: movie.imdbID})">
        {{ movie.Title }} ({{ movie.Year }})
      </a></h4>
    </div>
    <div class="card-body">
      <span style="width: 40%; float: left;">
        <img ng-src="{{ movie.Poster }}" alt="Poster Not Available" width="90%">
      </span>
      <span class="card-text" style="width: 60%; float: left;">
        <p class="card-text">{{ myListsCtrl.plotSubstring(movie.Plot) }}</p>
        <div>
          <img ng-src="images/imdb_logo.png" width="30px" style="margin: 5px" alt="IMDb Logo">
           {{ movie.imdbRating }} / 10
        </div>
        <div ng-if="movie.rottenTomatoesRating">
          <img ng-src="images/rt_logo.png" width="37px" style="margin: 5px" alt="Rotten Tomatoes Logo">
           {{ movie.rottenTomatoesRating }}%
        </div>
        <div ng-if="movie.metacriticRating">
          <img ng-src="images/metacritic_logo.png" width="30px" style="margin: 5px" alt="Metacritic Logo">
           {{ movie.metacriticRating }} / 100
        </div>
      </span>
    </div>
  </div>
</div>

<div style="margin-left: 20px"
  ng-if="myListsCtrl.watched.list.length > 0">
  <h5>
    <a ui-sref="root.list({listName: 'Watched'})">
      <strong>Go to Watched >>></strong>
    </a>
  </h5>
</div>

<div class="alert alert-primary"
  ng-if="myListsCtrl.watched.list.length == 0"
  style="margin: 15px; display: inline-block;">
  <strong>Oh snap! This list is empty.</strong>
  <br>
  <a class="alert-link" ui-sref="root.movie-search">Try adding some movies</a> and then come back again.
</div>

<br>
<br>

<div style="margin: 15px">
  <h3>Favorites</h3>
</div>

<div class="container col-lg-4"
    style="display:inline-block;"
    height="1000px"
    ng-repeat="movie in myListsCtrl.favorites.list.slice(0,3)">
  <div class="card border-primary mb-3" style="">
    <div class="card-header" style="vertical-align: middle;">
      <h4><a ui-sref="root.movie-detail({movieID: movie.imdbID})">
        {{ movie.Title }} ({{ movie.Year }})
      </a></h4>
    </div>
    <div class="card-body">
      <span style="width: 40%; float: left;">
        <img ng-src="{{ movie.Poster }}" alt="Poster Not Available" width="90%">
      </span>
      <span class="card-text" style="width: 60%; float: left;">
        <p class="card-text">{{ myListsCtrl.plotSubstring(movie.Plot) }}</p>
        <div>
          <img ng-src="images/imdb_logo.png" width="30px" style="margin: 5px" alt="IMDb Logo">
           {{ movie.imdbRating }} / 10
        </div>
        <div ng-if="movie.rottenTomatoesRating">
          <img ng-src="images/rt_logo.png" width="37px" style="margin: 5px" alt="Rotten Tomatoes Logo">
           {{ movie.rottenTomatoesRating }}%
        </div>
        <div ng-if="movie.metacriticRating">
          <img ng-src="images/metacritic_logo.png" width="30px" style="margin: 5px" alt="Metacritic Logo">
           {{ movie.metacriticRating }} / 100
        </div>
      </span>
    </div>
  </div>
</div>

<div style="margin-left: 20px"
  ng-if="myListsCtrl.favorites.list.length > 0">
  <h5>
    <a ui-sref="root.list({listName: 'Favorites'})">
      <strong>Go to Favorites >>></strong>
    </a>
  </h5>
</div>

<div class="alert alert-primary"
  ng-if="myListsCtrl.favorites.list.length == 0"
  style="margin: 15px; display: inline-block;">
  <strong>Oh snap! This list is empty.</strong>
  <br>
  <a class="alert-link" ui-sref="root.movie-search">Try adding some movies</a> and then come back again.
</div>

<br><br>

<div ng-repeat="list in myListsCtrl.customLists">
  <div style="margin: 15px">
    <h3>{{ (myListsCtrl.customLists[myListsCtrl.customLists.indexOf(list)]).listName }}</h3>
  </div>

  <div class="container col-lg-4"
      style="display:inline-block;"
      height="1000px"
      ng-repeat="movie in (myListsCtrl.customLists[myListsCtrl.customLists.indexOf(list)]).list.slice(0,3)">
    <div class="card border-primary mb-3" style="">
      <div class="card-header" style="vertical-align: middle;">
        <h4><a ui-sref="root.movie-detail({movieID: movie.imdbID})">
          {{ movie.Title }} ({{ movie.Year }})
        </a></h4>
      </div>
      <div class="card-body">
        <span style="width: 40%; float: left;">
          <img ng-src="{{ movie.Poster }}" alt="Poster Not Available" width="90%">
        </span>
        <span class="card-text" style="width: 60%; float: left;">
          <p class="card-text">{{ myListsCtrl.plotSubstring(movie.Plot) }}</p>
          <div>
            <img ng-src="images/imdb_logo.png" width="30px" style="margin: 5px" alt="IMDb Logo">
             {{ movie.imdbRating }} / 10
          </div>
          <div ng-if="movie.rottenTomatoesRating">
            <img ng-src="images/rt_logo.png" width="37px" style="margin: 5px" alt="Rotten Tomatoes Logo">
             {{ movie.rottenTomatoesRating }}%
          </div>
          <div ng-if="movie.metacriticRating">
            <img ng-src="images/metacritic_logo.png" width="30px" style="margin: 5px" alt="Metacritic Logo">
             {{ movie.metacriticRating }} / 100
          </div>
        </span>
      </div>
    </div>
  </div>

  <div style="margin-left: 20px"
    ng-if="(myListsCtrl.customLists[myListsCtrl.customLists.indexOf(list)]).list.length > 0">
    <h5>
      <a ui-sref="root.list({listName: (myListsCtrl.customLists[myListsCtrl.customLists.indexOf(list)]).listName})">
        <strong>Go to {{ (myListsCtrl.customLists[myListsCtrl.customLists.indexOf(list)]).listName }} >>></strong>
      </a>
    </h5>
  </div>

  <div class="alert alert-primary"
    ng-if="(myListsCtrl.customLists[myListsCtrl.customLists.indexOf(list)]).list.length == 0"
    style="margin: 15px; display: inline-block;">
    <strong>Oh snap! This list is empty.</strong>
    <br>
    <a class="alert-link" ui-sref="root.movie-search">Try adding some movies</a> and then come back again.
    <br><br>
    <a class="alert-link" style="cursor: pointer; text-decoration: underline;"
      data-target="#deleteListModal" data-toggle="modal"
      ng-click="myListsCtrl.listToDelete = (myListsCtrl.customLists[myListsCtrl.customLists.indexOf(list)]).listName">
      Delete this List
    </a>
  </div>

  <br>
  <br>
</div>



<div class="container">
  <div id="deleteListModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          Are you sure you want to delete {{ myListsCtrl.listToDelete }}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-small btn-danger"
              ng-click="myListsCtrl.deleteList()" data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-small btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>



<br><br>

<div class="row col-md-4 well well-md" style="margin: 15px;">
  <button type="submit" class="btn btn-sm btn-secondary" data-target="#newCustomListModal" data-toggle="modal">
    <div style="text-align: center; vertical-align: middle; margin: 15px">
      <h5>Create New Custom List</h5>
    </div>
  </button>
</div>

<div class="container">
  <div id="newCustomListModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Create New Custom List</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <input class="form-control" placeholder="Enter new list name" maxlength="25"
                ng-model="myListsCtrl.newListName">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-small btn-primary"
              ng-click="myListsCtrl.createNewList(myListsCtrl.newListName)" data-dismiss="modal">Create</button>
          <button type="button" class="btn btn-small btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
